.logo {
  font-family: 'Plus Jakarta Sans', system-ui;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.04em;
}

header .layer-inset {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
